<!doctype html>
<html>
    <head>
        <title>Thibaud Courtoison</title>

        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/img/favicon.ico" type="image/x-icon">

        <link rel="stylesheet" type="text/css" href="/libs/bulma/bulma.css">
        <link rel="stylesheet" type="text/css" href="/libs/spectre/spectre-exp.css">
        <link rel="stylesheet" type="text/css" href="/libs/spectre/spectre-icons.css">
        <link rel="stylesheet" type="text/css" href="/libs/hint/hint.css">
        <link rel="stylesheet" type="text/css" href="/libs/app.css">
    </head>
    <body>

        <!-- App -->

        <div id="app" class="container">

            <div class="header hero is-light">
                <div class="columns level is-mobile">
                    <div class="column level-item">
                        <h1 class="title has-text-centered"><b>Thibaud<br>Courtoison</b></h1>
                    </div>
                    <div class="portrait column level-item">
                        <router-link :to="{ name: 'intro' }">
                            <img src="/img/portrait.jpg" alt="portrait">
                        </router-link>
                    </div>
                    <div class="column level-item">
                        <p class="title has-text-centered"><b>Software<br>Architect</b></p>
                    </div>
                </div>
            </div>

            <div class="menu">
                <div class="tabs is-boxed is-fullwidth is-medium">
                    <ul>
                        <router-link :to="{ name: 'intro' }" tag="li" exact-active-class="is-active">
                            <a>Intro</a>
                        </router-link>
                        <router-link :to="{ name: 'career' }" tag="li" active-class="is-active">
                            <a>Career</a>
                        </router-link>
                        <router-link :to="{ name: 'projects' }" tag="li" active-class="is-active">
                            <a>Projects</a>
                        </router-link>
                        <router-link :to="{ name: 'contact' }" tag="li" active-class="is-active">
                            <a>Contact</a>
                        </router-link>
                    </ul>
                </div>

                <div class="navbar-burger" :class="{ 'is-active': menu }" @click="menu=!menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="navbar-menu" :class="{ 'is-active': menu }">
                    <router-link :to="{ name: 'intro' }" class="navbar-item" exact-active-class="is-active" @click.native="menu=false">
                        Intro
                    </router-link>
                    <router-link :to="{ name: 'career' }" class="navbar-item" active-class="is-active" @click.native="menu=false">
                        Career
                    </router-link>
                    <router-link :to="{ name: 'projects' }" class="navbar-item" active-class="is-active" @click.native="menu=false">
                        Projects
                    </router-link>
                    <router-link :to="{ name: 'contact' }" class="navbar-item" active-class="is-active" @click.native="menu=false">
                        Contact
                    </router-link>
                </div>
            </div>

			<div class="main">
            	<router-view :career="career" :education="education" :projects="projects"></router-view>
			</div>

        </div>

        <!-- Templates -->

        <script type="text/x-template" id="intro">
            <div class="part">
            	<h2 class="title is-2">Intro</h2>
            	<p>This website is under construction. Come back soon!</p>
            	<br><br>
            	<p>Meanwhile, go check my hobby website: <a href="http://errorna.me" target="_blank">errorna.me</a></p>
            </div>
        </script>

        <script type="text/x-template" id="career">
            <div>
                <div class="part">
                    <h2 class="title is-2">Career</h2>

                    <div class="timeline">
                        <div class="timeline-item is-hidden-mobile" :class="{ 'checked': job.checked }" v-for="job in career">
                            <div class="timeline-left">
                                <span class="hint--top" :aria-label="job.from+' - '+job.to">
                                    <a class="timeline-icon" v-if="!job.checked"></a>
                                    <a class="timeline-icon icon-lg" v-if="job.checked">
                                        <i class="icon icon-check"></i>
                                    </a>
                                </span>
                            </div>
                            <div class="timeline-content">
                                <div class="columns is-gapless">
                                    <div class="column is-2">
                                        <p class="content is-small has-text-centered range" style="padding-top: 20px">
                                            <b>{{ job.to }}</b><br>
                                            <i class="icon icon-upward"></i><br>
                                            <b>{{ job.from }}</b>
                                        </p>
                                    </div>
                                    <div class="column is-7">
                                        <p class="title is-4">{{ job.title }}</p>
                                        <p class="subtitle is-6">{{ job.subtitle }}</p>
                                        <p class="text-justify" v-html="job.text"></p>
                                    </div>
									<div class="column is-3" align="center">
										<img :src="job.img" :alt="job.subtitle">
									</div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item is-hidden-tablet" :class="{ 'checked': job.checked }" v-for="job in career">
							<div class="timeline-left">
                                <span class="hint--top" :aria-label="job.from+' - '+job.to">
                                    <a class="timeline-icon" v-if="!job.checked"></a>
                                    <a class="timeline-icon icon-lg" v-if="job.checked">
                                        <i class="icon icon-check"></i>
                                    </a>
                                </span>
                            </div>
							<div class="timeline-content">
                                <div>
                                    <p class="content is-small has-text-centered range" style="padding-bottom: 10px">
                                        <b>{{ job.from }}</b>
                                        <i class="icon icon-forward"></i>
                                        <b>{{ job.to }}</b>
                                    </p>
                                </div>
                                <div>
                                    <p class="title is-5 text-center">{{ job.title }}</p>
                                    <p class="subtitle is-6 text-center">{{ job.subtitle }}</p>
                                    <p class="text-justify" v-html="job.text"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="part">
                    <h2 class="title is-2">Education</h2>

                    <div class="timeline">
                        <div class="timeline-item is-hidden-mobile" :class="{ 'checked': school.checked }" v-for="school in education">
                            <div class="timeline-left">
                                <span class="hint--top" :aria-label="school.from+' - '+school.to">
                                    <a class="timeline-icon" v-if="!school.checked"></a>
                                    <a class="timeline-icon icon-lg" v-if="school.checked">
                                        <i class="icon icon-check"></i>
                                    </a>
                                </span>
                            </div>
                            <div class="timeline-content">
                                <div class="columns is-gapless">
                                    <div class="column is-2">
                                        <p class="content is-small has-text-centered range" style="padding-top: 20px">
                                            <b>{{ school.to }}</b><br>
                                            <i class="icon icon-upward"></i><br>
                                            <b>{{ school.from }}</b>
                                        </p>
                                    </div>
                                    <div class="column is-7">
                                        <p class="title is-4">{{ school.title }}</p>
                                        <p class="subtitle is-6">{{ school.subtitle }}</p>
                                        <p class="text-justify" v-html="school.text"></p>
                                    </div>
									<div class="column is-3" align="center">
										<img :src="school.img" :alt="school.subtitle" class="img-responsive">
									</div>
                                </div>
                            </div>
                        </div>
						<div class="timeline-item is-hidden-tablet" :class="{ 'checked': school.checked }" v-for="school in education">
							<div class="timeline-left">
                                <span class="hint--top" :aria-label="school.from+' - '+school.to">
                                    <a class="timeline-icon" v-if="!school.checked"></a>
                                    <a class="timeline-icon icon-lg" v-if="school.checked">
                                        <i class="icon icon-check"></i>
                                    </a>
                                </span>
                            </div>
							<div class="timeline-content">
                                <div>
                                    <p class="content is-small has-text-centered range" style="padding-bottom: 10px">
                                        <b>{{ school.from }}</b>
                                        <i class="icon icon-forward"></i>
                                        <b>{{ school.to }}</b>
                                    </p>
                                </div>
                                <div>
                                    <p class="title is-5 text-center">{{ school.title }}</p>
                                    <p class="subtitle is-6 text-center">{{ school.subtitle }}</p>
                                    <p class="text-justify" v-html="school.text"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/x-template" id="projects">
            <div class="part">
                <h2 class="title is-2">Projects</h2>

                <ul>
                    <li v-for="project in projects">
                        <router-link :to="{ name: 'project', params: { project_slug: project } }">
                            {{ project }}
                        </router-link>
                    </li>
                </ul>

            </div>
        </script>

        <script type="text/x-template" id="project">
            <div class="part">
                <h2 class="title is-2">Project: {{ $route.params.project_slug }}</h2>
            </div>
        </script>

        <script type="text/x-template" id="contact">
            <div class="part">
                <h2 class="title is-2">Contact</h2>
            </div>
        </script>

        <!-- Scripts -->

        <script type="text/javascript" src="/libs/vue/vue.js" defer></script>
        <script type="text/javascript" src="/libs/vue/vue-router.js" defer></script>
        <script type="text/javascript" src="/libs/app.js" defer></script>
    </body>
</html>
