<!doctype html>
<html>
    <head>
        <title>Thibaud Courtoison</title>

        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">

		<meta property="og:title" content="Thibaud Courtoison" />
		<meta property="og:description" content="Thibaud Courtoison - Software Architect" />
		<meta property="og:type" content="profile" />
		<meta property="og:url" content="https://thibaudcourtoison.fr" />
		<meta property="og:image" content="https://thibaudcourtoison.fr/img/portrait.jpg" />
		<meta property="fb:profile_id" content="1653146677"/>
		<meta property="profile:first_name" content="Thibaud" />
		<meta property="profile:last_name" content="Courtoison" />
		<meta property="profile:username" content="errorname" />
		<meta property="profile:gender" content="male" />

		<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/img/favicon.ico" type="image/x-icon">

        <link rel="stylesheet" type="text/css" href="/libs/bulma/bulma.css">
        <link rel="stylesheet" type="text/css" href="/libs/spectre/spectre-exp.css">
        <link rel="stylesheet" type="text/css" href="/libs/spectre/spectre-icons.css">
        <link rel="stylesheet" type="text/css" href="/libs/hint/hint.css">
		<link rel="stylesheet" type="text/css" href="/libs/github-calendar/github-calendar-responsive.css">
        <link rel="stylesheet" type="text/css" href="/libs/app.css">
    </head>
    <body>

        <!-- App -->

        <div id="app" class="container">

            <div class="header hero is-light">
                <div class="columns level is-mobile">
                    <div class="column level-item">
                        <h1 class="title has-text-centered"><b>Thibaud<br>Courtoison</b></h1>
                    </div>
                    <div class="portrait column level-item">
                        <router-link :to="{ name: 'intro' }">
                            <img src="/img/portrait.jpg" alt="portrait">
                        </router-link>
                    </div>
                    <div class="column level-item">
                        <p class="title has-text-centered"><b>Software<br>Architect</b></p>
                    </div>
                </div>
            </div>

            <div class="menu">
                <div class="tabs is-boxed is-fullwidth is-medium">
                    <ul>
                        <router-link :to="{ name: 'intro' }" tag="li" exact-active-class="is-active">
                            <a>Intro</a>
                        </router-link>
                        <router-link :to="{ name: 'career' }" tag="li" active-class="is-active">
                            <a>Career</a>
                        </router-link>
                        <router-link :to="{ name: 'projects' }" tag="li" active-class="is-active">
                            <a>Projects</a>
                        </router-link>
                        <router-link :to="{ name: 'contact' }" tag="li" active-class="is-active">
                            <a>Contact</a>
                        </router-link>
                    </ul>
                </div>

                <div class="navbar-burger is-hidden-tablet-only" :class="{ 'is-active': menu }" @click="menu=!menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="navbar-menu" :class="{ 'is-active': menu }">
                    <router-link :to="{ name: 'intro' }" class="navbar-item" exact-active-class="is-active" @click.native="menu=false">
                        Intro
                    </router-link>
                    <router-link :to="{ name: 'career' }" class="navbar-item" active-class="is-active" @click.native="menu=false">
                        Career
                    </router-link>
                    <router-link :to="{ name: 'projects' }" class="navbar-item" active-class="is-active" @click.native="menu=false">
                        Projects
                    </router-link>
                    <router-link :to="{ name: 'contact' }" class="navbar-item" active-class="is-active" @click.native="menu=false">
                        Contact
                    </router-link>
                </div>
            </div>

			<div class="main">
            	<router-view
					:skills="skills"
					:career="career"
					:education="education"
					:projects="projects"
					:contact="contact">
				</router-view>
			</div>

        </div>

        <!-- Templates -->

        <script type="text/x-template" id="intro">
            <div class="part intro">
				<h2 class="title is-2">About me</h2>
				<div class="columns">
					<div class="column">
						<div class="card">
							<div class="card-content">
								<div class="content text-justify">
									<p>
										Hi, my name is <b>Thibaud Courtoison</b> and
										I am a 22-year-old french developer currently finishing a Master in Software Architecture.
									</p>
									<br>
									<p>
										I started programming because I was bored, I continued out of passion.
										After a 2 year DUT degree in Computer Engineering,
										I went to the University of the West of Scotland to learn about Computer Games Development.<br>
										Having enjoyed Scottish weather and graduated my Bachelor's degree,
										I chose to come back in France to learn more about Software Architecture
										in a Master's degree at the University of the Nantes.
									</p>
									<br>
									<p>
										Fast-learner, able to adapt and instinctive,
										I like to learn every component of a system to be able to discover ways to improve and enhance it.<br>
										With creativity, I find solutions to any issues and problems that present themselves.
									</p>
								</div>
							</div>
						</div>
						<div class="card errorname" style="margin-top: 2rem">
							<div class="is-flex">
								<div style="flex-grow: 1">
									<div class="card-content">
										<div class="content">
											<p class="title is-6">Hobby website</p>
											<p>
												In my spare time, I like to make video-game related projects.
												<a href="https://errorna.me" target="_blank">Go check it out !</a>
											</p>
										</div>
									</div>
								</div>
								<div class="is-flex gif">
									<a href="https://errorna.me" target="_blank">
										<!-- TODO: Remove placeholder for real errorna.me image -->
										<img src="/img/errorname.gif" alt="errorna.me">
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="column is-5">
						<div class="panel">
							<p class="panel-heading">
								Tech Skills
							</p>
							<div class="panel-block skills" v-for="category in skills">
								<p class="title is-5 has-text-centered">{{ category.name }}</p>
								<div class="skillbar" v-for="skill in category.primary" :data-percent="skill.value+'%'">
									<div class="skillbar-title" :style="{background: skill.colors[0]}"><span>{{ skill.name }}</span></div>
									<div class="skillbar-bar" :style="{background: skill.colors[1], width: '25%'}"></div>
									<div class="skill-bar-percent">{{ skill.value }}%</div>
								</div>
								<p style="margin-bottom: 5px">Other {{ category.name.toLowerCase() }}:</p>
								<div class="tags">
									<span class="tag is-medium" v-for="skill in category.secondary">{{ skill }}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </script>

        <script type="text/x-template" id="career">
            <div>
                <div class="part">
                    <h2 class="title is-2">Career</h2>

                    <div class="timeline">
                        <div class="timeline-item is-hidden-mobile" :class="{ 'checked': job.checked }" v-for="job in career">
                            <div class="timeline-left">
                                <span class="hint--top" :aria-label="job.from+' - '+job.to">
                                    <a class="timeline-icon" v-if="!job.checked"></a>
                                    <a class="timeline-icon icon-lg" v-if="job.checked">
                                        <i class="icon icon-check"></i>
                                    </a>
                                </span>
                            </div>
                            <div class="timeline-content">
                                <div class="columns is-gapless">
                                    <div class="column is-2">
                                        <p class="content is-small has-text-centered range" style="padding-top: 20px">
                                            <b>{{ job.to }}</b><br>
                                            <i class="icon icon-upward"></i><br>
                                            <b>{{ job.from }}</b>
                                        </p>
                                    </div>
                                    <div class="column is-7">
                                        <p class="title is-4">{{ job.title }}</p>
                                        <p class="subtitle is-6">{{ job.subtitle }}</p>
                                        <p class="text-justify" v-html="job.text"></p>
                                    </div>
									<div class="column is-3 image-wrapper" align="center">
										<img :src="job.img" :alt="job.subtitle">
									</div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item is-hidden-tablet" :class="{ 'checked': job.checked }" v-for="job in career">
							<div class="timeline-left">
                                <span class="hint--top" :aria-label="job.from+' - '+job.to">
                                    <a class="timeline-icon" v-if="!job.checked"></a>
                                    <a class="timeline-icon icon-lg" v-if="job.checked">
                                        <i class="icon icon-check"></i>
                                    </a>
                                </span>
                            </div>
							<div class="timeline-content">
                                <div>
                                    <p class="content is-small has-text-centered range" style="padding-bottom: 10px">
                                        <b>{{ job.from }}</b>
                                        <i class="icon icon-forward"></i>
                                        <b>{{ job.to }}</b>
                                    </p>
                                </div>
                                <div>
                                    <p class="title is-5 text-center">{{ job.title }}</p>
                                    <p class="subtitle is-6 text-center">{{ job.subtitle }}</p>
                                    <p class="text-justify" v-html="job.text"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="part">
                    <h2 class="title is-2">Education</h2>

                    <div class="timeline">
                        <div class="timeline-item is-hidden-mobile" :class="{ 'checked': school.checked }" v-for="school in education">
                            <div class="timeline-left">
                                <span class="hint--top" :aria-label="school.from+' - '+school.to">
                                    <a class="timeline-icon" v-if="!school.checked"></a>
                                    <a class="timeline-icon icon-lg" v-if="school.checked">
                                        <i class="icon icon-check"></i>
                                    </a>
                                </span>
                            </div>
                            <div class="timeline-content">
                                <div class="columns is-gapless">
                                    <div class="column is-2">
                                        <p class="content is-small has-text-centered range" style="padding-top: 20px">
                                            <b>{{ school.to }}</b><br>
                                            <i class="icon icon-upward"></i><br>
                                            <b>{{ school.from }}</b>
                                        </p>
                                    </div>
                                    <div class="column is-7">
                                        <p class="title is-4">{{ school.title }}</p>
                                        <p class="subtitle is-6">{{ school.subtitle }}</p>
                                        <p class="text-justify" v-html="school.text"></p>
                                    </div>
									<div class="column is-3 image-wrapper" align="center">
										<img :src="school.img" :alt="school.subtitle" class="img-responsive">
									</div>
                                </div>
                            </div>
                        </div>
						<div class="timeline-item is-hidden-tablet" :class="{ 'checked': school.checked }" v-for="school in education">
							<div class="timeline-left">
                                <span class="hint--top" :aria-label="school.from+' - '+school.to">
                                    <a class="timeline-icon" v-if="!school.checked"></a>
                                    <a class="timeline-icon icon-lg" v-if="school.checked">
                                        <i class="icon icon-check"></i>
                                    </a>
                                </span>
                            </div>
							<div class="timeline-content">
                                <div>
                                    <p class="content is-small has-text-centered range" style="padding-bottom: 10px">
                                        <b>{{ school.from }}</b>
                                        <i class="icon icon-forward"></i>
                                        <b>{{ school.to }}</b>
                                    </p>
                                </div>
                                <div>
                                    <p class="title is-5 text-center">{{ school.title }}</p>
                                    <p class="subtitle is-6 text-center">{{ school.subtitle }}</p>
                                    <p class="text-justify" v-html="school.text"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/x-template" id="projects">
            <div class="part projects">
                <h2 class="title is-2">Projects</h2>

				<div class="category" v-for="cat in projects">
					<h3 class="subtitle is-3">{{ cat.title }}</h3>
					<div class="columns is-multiline is-mobile">
						<div class="column is-one-quarter-desktop is-one-third-tablet is-full-mobile" v-for="item in cat.items">
							<router-link :to="{ name: 'project', params: { project_slug: item.slug } }">
								<div class="card">
									<div class="card-image">
										<figure class="image is-4by3">
											<img :src="'/img/projects/'+item.slug+'.png'" :alt="item.name">
										</figure>
									</div>
									<div class="card-content" style="padding: 1rem">
										<div class="content">
											<p class="subtitle is-5" style="margin-bottom: 0">{{ item.name }}</p>
											<small><i>{{ item.tags }}</i></small>
											<p>{{ item.description }}</p>
										</div>
									</div>
								</div>
							</router-link>
						</div>
					</div>
				</div>

				<h3 class="subtitle is-3" align="center">Github activity</h3>
				<div class="calendar"></div>

            </div>
        </script>

        <script type="text/x-template" id="project">
            <div class="part">
                <h2 class="title is-2">Project: {{ $route.params.project_slug }}</h2>
            </div>
        </script>

        <script type="text/x-template" id="contact">
            <div class="part contact">
                <h2 class="title is-2">Contact</h2>
				<div class="columns">
					<div class="column is-8">
						<div class="card">
							<div class="card-content" align="center">
								<p class="title is-5">Ways to contact me:</p>
								<a v-for="item in contact" :class="'contact-item '+item.name" :style="{'background-color': item.color}" :href="item.url" target="_blank">
									<div class="logo">
										<img :src="'/img/contact/'+item.name+'.svg'" :alt="item.name">
									</div>
									<div class="value">
										<p>{{ item.value }}</p>
									</div>
								</a>
							</div>
						</div>
					</div>
					<div class="column is-4">
						<div class="card">
							<div class="card-content twitter-timeline"></div>
						</div>
					</div>
				</div>
            </div>
        </script>

        <!-- Scripts -->

		<script type="text/javascript" src="/libs/jquery/jquery.min.js" defer></script>
        <script type="text/javascript" src="/libs/vue/vue.js" defer></script>
        <script type="text/javascript" src="/libs/vue/vue-router.js" defer></script>
		<script type="text/javascript" src="/libs/github-calendar/github-calendar.min.js" defer></script>
        <script type="text/javascript" src="//platform.twitter.com/widgets.js" defer charset="utf-8"></script>
        <script type="text/javascript" src="/libs/app.js" defer></script>
    </body>
</html>
